.git
.venv
img/series_examples/*
!img/series_examples/AUTOMOTIVE
*.pyc
data
.vscode
experiments/AUTOMOTIVE/script.py
experiments/AUTOMOTIVE/abs_poly_spline
/vizualize.ipynb
experiments/experiment_draft.ipynb